@model IEnumerable<UserVM>
@{
    ViewData["Title"] = "Index";
}

<div class="tbl-container">
    <h2>User List</h2>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@string.Join(" , ", item.Roels)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        }
    </table>
    <div class="input-container">
        <a asp-action="Add" class="btn btn-sec">Add New Genre</a>
    </div>
</div>


